
#navbar {

  .buttons{
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    display: flex;
    justify-content: flex-start;
    background-color:#e6faff;
  }
}


#menu{
  display:none;
  font-size:20px;
}

@media only screen and (max-width: 768px) {
  .buttons{
    #home,#request,#about,#out{
      display:none;
    }
    #menu{
        display:inline;
      }
    }
  #Driver{
    display:flex;
    justify-content:space-around;
    padding-right:5px;
    padding-left:5px;
    #wheel{
      width:65%;
      height:70%;
    }
    .content1{
      text-align:center;
    }
    margin-bottom:30px;
  }

  #Passenger{
    display:flex;
    justify-content:space-around;
    // padding-right:5px;
    padding-left:5px;
    #happy{
      width:65%;
      height:70%;
    }
    .content2{
      text-align:center;
    }
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  #Passenger{
    position:relative;
    display:block;
    opacity: 0.9;
    filter: alpha(opacity=90);
    width:45%;
    float:left;
  }
  #Driver{
    position:relative;
    display:block;
    opacity: 0.9;
    filter: alpha(opacity=90);
    width:45%;
    float:right;
  }
  .select{
    width:90%;
    display:flex;
    justify-content:space-around;
    margin:auto;
  }
  .content1{
    position:absolute;
    overflow:auto;
    width:35%;
    height:85%;
    top:50%;
    transform: translateY(-50%);
    right:0px;
    color: #ffffcc;
    padding-right:15px;
    font-size:100%;
  }
  .content2{
    position:absolute;
    overflow:auto;
    color: navy;
    width:45%;
    height:85%;
    top:50%;
    transform: translateY(-50%);
    padding-left:15px;
    p{
      font-size:100%;
    }
  }
}
@media (min-width: 1024px){
  #Passenger{
    position:relative;
    display:block;
    opacity: 0.9;
    filter: alpha(opacity=90);
    width:45%;
    float:left;
  }
  #Driver{
    position:relative;
    display:block;
    opacity: 0.9;
    filter: alpha(opacity=90);
    width:45%;
    float:right;
  }
  .select{
    width:90%;
    display:flex;
    justify-content:space-around;
    margin:auto;
  }
  .content1{
    position:absolute;
    overflow:auto;
    width:35%;
    height:85%;
    top:50%;
    transform: translateY(-50%);
    right:0px;
    color: #ffffcc;
    padding-right:15px;
    font-size:130%;
  }
  .content2{
    position:absolute;
    overflow:auto;
    color: navy;
    width:45%;
    height:85%;
    top:50%;
    transform: translateY(-50%);
    padding-left:15px;
    p{
      font-size:130%;
    }
  }
}

//
//
#Driver:hover {
  opacity: 1.0;
  filter: alpha(opacity=50); /* For IE8 and earlier */

}

#Passenger:hover {
  opacity: 1.0;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

// .select:after {
//   content: "";
//   display: table;
//   clear: both;
// }
//
