
.Home {
      background-color: #e6faff;
    // h1{
    //   width:40%;
    //   float:left;
    //   color:#333333;
    // }
    .buttons{
      width:100%;
      padding-top:10px;
      padding-bottom:10px;
      display: flex;
      justify-content: flex-end;
      background-color:#e6faff;
    }
    .box{
      position:relative;
      text-align: center;
      color: navy;
    }
  #wel{
      position:absolute;
      top: 8px;
      left: 16px;
}
}
// #back{
//   position:relative;

@media only screen and (max-width: 768px) {
  .buttons{
    #home,#request,#about,#out{
      display:none;
    }
    #menu{
        display:inline;
      }
    }
    #wel{
      // position:relative;
      font-size:1.5em;
      // padding-bottom:200px;
    }
  }
  @media (min-width: 769px) and (max-width: 1023px) {
    #wel{
      font-size:2em;
    }

  }
  @media (min-width: 1024px){

      #wel{
        font-size:2em;

      }
  }
