.About {
  background-color: #e6faff;
  .nav {
    width:100%;
      h1{
        width:40%;
        float:left;
      }
      .buttons{
        padding-top:10px;
        padding-bottom:10px;
        float:right;
        display: flex;
        justify-content: flex-end;
      }

    }
    #intro{
        position:absolute;
        top:50%;
        transform: translateY(-50%);
        width:50%;
        padding-left:10px;
    }

}

  // .Home{
  //   background-image: ");
  //   background-repeat:no-repeat;
  //   background-size: cover;
  // }
  @media only screen and (max-width: 639px) {
    body{
      background-color: #e6faff;
    }
  }
  @media (min-width: 640px) and (max-width: 1023px) {
    body{
      background-color:#e6faff;
    }
  }
  @media (min-width: 1024px){
    body{
      background-color:#e6faff;
    }
  }
